.container-nav{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-menu {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-appointment-1 {
    background-color: #8B0000;
    color: white;
    padding: 8px 10px;
    border-radius: 12px;
    border: none;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

.btn-appointment-2 {
    background-color: #8B0000;
    color: white;
    padding: 8px 20px;
    border-radius: 12px;
    border: none;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    margin: 0 20px;
}

.logo-custom  {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.menu-icon {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.menu-bar {
    display: none;
}

.menu-bar-active{
    display: block;
    position: fixed;
    bottom: -100%; /* Start off-screen */
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 1000;
    animation: slideUp 0.4s forwards; /* Apply the slide-up animation */
}

@keyframes slideUp {
    0% {
        bottom: -100%; /* Start from below the screen */
    }
    100% {
        bottom: 0; /* Ends at the bottom of the viewport */
    }
}

.hum-menu-item {
    padding: 10px 20px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    color: #ccc;
}

.footer-link {
    color: #a0c4ff;
    text-decoration: underline;
    font-size: 12px;
    display: block;
    margin: 4px 0;
}

.footer-link:hover {
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    color: #ccc;
    margin-top: 20px;
}

.footer-bottom hr {
    border: 1px solid #555;
    margin: 20px 0;
}

/* .fotter-in-page {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
} */


/* BODY */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.body-container {
    padding: 20px;
}

.body-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Define two columns */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Add space between elements */
}

.car-image {
    grid-column: 2 / 3; /* Car image in the second column */
    max-width: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 15%;
}

.car-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.text-section {
    grid-column: 1 / 2; /* Text section in the first column */
    max-width: 100%;
    text-align: center;
    padding-left: 15%;
    padding-right: 5%;
}

.text-section h1 {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 15px;
    color: #000;
    margin-bottom: 10px;
}

.book-button {
    background-color: #8B0000;
    padding: 8px 10px;
    border-radius: 12px;
    border: none;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book-button:hover {
    background-color: #A52A2A;
}


/* Menu styles for smaller screens */
@media (max-width: 730px) {
    .ms-2{
        display: none;
    }
    /* BODY */
    .body-content {
        grid-template-columns: 1fr; /* Switch to single column layout */
        text-align: center; /* Center text for smaller screens */
    }

    .car-image {
        grid-column: 1 / -1; /* Span full width in single-column layout */
        max-width: 80%; /* Adjust widths to fit smaller screens */
        margin: 0 auto; /* Center content */
        grid-row: 1/2;
        padding: 0;
    }

    .text-section {
        grid-column: 1 / -1; /* Span full width in single-column layout */
        max-width: 80%; /* Adjust widths to fit smaller screens */
        margin: 0 auto; /* Center content */
        grid-row: 2/3;
        padding: 0;
    }

    .car-image img {
        max-width: 80%; /* Adjust the image size on smaller screens */
    }
}

@media (max-width: 600px) {
    .btn-menu, .btn-appointment-1 {
        display: none;
    }
    .ms-2{
        display: flex;
    }
    .menu-icon{
        display: flex;
    }
}